#wrap {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    gap: 25px;
}

header {grid-area: header;}
#body {grid-area: main;}
footer {grid-area: footer;}

h1 {
    font-size: 64px;
}